@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    /* ## Colors */
    /* ### Primary */

    --MarineBlue: hsl(213, 96%, 18%);
    --PurplishBlue: hsl(243, 100%, 62%);
    --PastelBlue: hsl(228, 100%, 84%);
    --LightBlue: hsl(206, 94%, 87%);
    --StrawberryRed: hsl(354, 84%, 57%);

    /* ### Neutral */

    --CoolGray: hsl(231, 11%, 63%);
    --LightGray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

html, *{box-sizing: border-box;}

body {
    height: 98vh;
    font-family: "Ubuntu";
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Magnolia);
}

.main-content {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--White);
    box-shadow: 2px 2px 8px var(--LightBlue);
}

.side-bar {
    width: 40%;
    height: 100%;
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-size: cover;
    color: var(--White);
    padding: 2rem;
    border-radius: .8rem;
}

.sb-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.sb-item-number {
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid var(--LightBlue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    margin-right: 1rem;
}

.sb-step-number {
    font-size: .7rem;
    margin-bottom: 5px;
    color: var(--PastelBlue);
    text-transform: uppercase;
    opacity: 75%;
}

.sb-step-title {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;

}

.form-wrapper {
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

#multi-step-form{
    width: 70%;
}

.form-step {
    display: none;
    flex-direction: column;
    align-items: start;
}

.active-sb-step {
    background-color: var(--LightBlue);
    color: var(--PurplishBlue);
}

.form-step-active {
    display: flex;
}

.step-title{
    font-size: 2rem;
}

.step-subtitle{
    font-size: .9rem;
    font-weight: 400;
    color: var(--CoolGray);
    margin-bottom: 2rem;
}

.form-step input{
    width: 100%;
}

.form-control::placeholder{
    color: var(--CoolGray);
}

.step-btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.btn-dark-blue{
    font-size: .9rem;
    font-weight: 400;
    background-color: var(--MarineBlue);
    color: var(--White);
    margin-top: 2rem;
}

.btn-light{
    font-size: .9rem;
    font-weight: 400;
    background-color: var(--White);
    color: var(--MarineBlue);
    margin-top: 2rem;
}

.plan-options{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-outline-secondary{
    width: 30%;
    margin: solid 2px var(--LightGray);
    padding: 1rem;
    text-align: left;
}

.btn-check:checked+.btn-outline-secondary{
    background-color: var(--Magnolia);
    border: 1px solid var(--PurplishBlue);
    color: var(--CoolGray);
}

.btn-outline-secondary:hover{
    border: 1px solid var(--PurplishBlue);
    background-color: white;
    color: var(--MarineBlue);
}

.plan-option-name{
    margin-bottom: 5px;
    margin-top: 2rem;
    color: var(--MarineBlue);
    font-weight:700 ;
}

.plan-option-price{
margin-bottom: 0;
}

.subscription-type-switch-wrapper{
    width: 100%;
    background-color: var(--Magnolia);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
}

.form-switch{
    margin-left: 7px;
}



.attribution {
    position: fixed;
    bottom: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}